#root {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: none; /* Esconde o mouse no quiosque */
}

/* Mostra o cursor quando as telas de configuração (C, W ou E) estão abertas */
.show-cursor #root,
.show-cursor *,
.show-cursor-editor #root,
.show-cursor-editor * {
  cursor: auto !important;
}